*{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    background-image: url(/hero-bg-1.jpg);
    background-size: 100%;
     background-repeat: no-repeat;
  }
  .title{
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    
    h3{
      font-weight: bold;
      margin-top:100px;
      color: #0000009f;
      font-size:40px
    }
    p{
      font-size: 30px;
      color: #ffffff;
      &.msg{
        color: initial;
        text-align: initial;
        font-weight: bold;
      }
    }
  }
    
  .otp-input-fields{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.574);
    box-shadow: 0px 0px 8px 0px #02025044;
    max-width: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 40px;
    
    input{
      height: 40px;
      width: 40px;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #2f8f1f;
      text-align: center;
      outline: none;
      font-size: 16px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      /* Firefox */
      &[type=number] {
        -moz-appearance: textfield;
      }
      &:focus{
        border-width: 2px;
        border-color: darken(#000000, 5%);
        font-size: 20px;
      }
    }
  }
  
  .buttom-121111{
    height: 35px;
    width: 100px;
    position: absolute;
    color: #ffffff;
    background-color: #000000;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 740px;
    margin-top: 20px;
    border: none;
    font-size: 20px;
   

  }